{% extends "base.html" %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
        <h3>Meal Planner Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="{% url 'recipe-list' %}">Recipes</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="{% url 'recipe-create' %}">New Recipe</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="{% url 'ingredient-list' %}">Ingredients</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a class="nav-item nav-link" href="{% url 'ingredient-create' %}">New Ingredient</a>
            </li>
        </ul>
        </p>
        {% block sidebar-extra %}
        {% endblock sidebar-extra %}
    </div>
    
</div>
{% endblock %}