{% extends "meal_planner/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="container mt-4">
        <h1>{{ object.name }}</h1>
        <p>Date Created: {{ object.date_created }}</p>
        <p>{{ object.calories }} Calories</p>
        <p>{{ object.protein}}g Protein</p>
        <p>{{ object.servings|floatformat:"3"}} servings</p>
        <p class="h4">Instructions:</p>
        <p>{{ object.directions }}</p>
        <p class="h4">Ingredients:</p>
        <table class="table">
            <th>
                <td>Ingredient</td>
                <td>Quantity</td>
                <td>Unit</td>
            </th>
            {% for ingredient in recipe.recipeingredient_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ingredient.ingredient.name }}</td>
                <td>{{ ingredient.quantity|floatformat:"2" }}</td>
                <td>{{ ingredient.unit }}</td>
            </tr>
            {% endfor %}
        </table>

        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'recipe-update' object.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'recipe-delete' object.id %}">Delete</a>
        {% endif %}
    </div>
</article>
{% endblock content %}